{
  "store": {
    "subdomain": "beeteeth"
  },
  "customization": {
    "background_color": "#F9F9F9",
    "store_tagline": "Keep it cool with Good Vibes.",
    "twitter_username": "bigcartel"
  }
}
