@import 'compass/css3'
@import 'compass'

$primary-color: #{'{{ theme.primary_color }}'}
$secondary-color: #{'{{ theme.secondary_color }}'}
$background-color: #{'{{ theme.background_color }}'}
$tagline-color: #{'{{ theme.tagline_color }}'}

$fallback-fonts: "Lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif
$primary-font: "#{'{{ theme.primary_font }}'}", $fallback-fonts

$break-extra-large: 1200px
$break-large: 945px
$break-medium: 800px
$break-small: 640px
$break-extra-small: 500px

@mixin all-transitions
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out

@mixin primary-button
  border: 2px solid $primary-color
  color: $primary-color
  font: 1.125em $primary-font
  font-weight: 900
  padding: 15px 47px
  text-align: center

  &:hover 
    filter: alpha(opacity=100)
    opacity: 1
    
@mixin slide-rollover
  @include all-transitions
  position: absolute
  top: 0
  left: 0
  overflow: hidden
  height: 26px
  max-width: 0
  font-size: 4em
  padding-bottom: 2px
  border-bottom: 2px solid $secondary-color
  color: transparent
  content: attr(data-hover)

@mixin no-opacity
  filter: alpha(opacity=100)
  opacity: 1
  
@mixin vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)
  
@mixin flexbox
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex
  
@mixin flex-direction($value: row) 
  @if $value == row-reverse 
    -webkit-box-direction: reverse
    -webkit-box-orient: horizontal
  @else if $value == column 
    -webkit-box-direction: normal
    -webkit-box-orient: vertical
  @else if $value == column-reverse 
    -webkit-box-direction: reverse
    -webkit-box-orient: vertical
  @else
    -webkit-box-direction: normal
    -webkit-box-orient: horizontal
		
  -webkit-flex-direction: $value
  -moz-flex-direction: $value
  -ms-flex-direction: $value
  flex-direction: $value

@mixin flex-wrap($value: nowrap)
  -webkit-flex-wrap: $value
  -moz-flex-wrap: $value
  @if $value == nowrap 
    -ms-flex-wrap: none
  @else
    -ms-flex-wrap: $value
    
  flex-wrap: $value
