// Colors
$primary-color: #222222;
$secondary-color: #f55253;
$tertiary-color: #777777;
$white: #fff;
// $dark-green-color:  #{'{{ theme.secondary_color }}'};
// $light-green-color: #{'{{ theme.primary_color }}'};

// Fonts

$fallback-fonts:    "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
// $sans-serif-font:   "#{'{{ theme.primary_font }}'}", $fallback-fonts;
$primary-font: 'Lato', $fallback-fonts;

@mixin all-transitions {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin primary-button {
  font: 1.125em $primary-font;
  font-weight: 900;
  color: $primary-color;
  border: 2px solid $primary-color;
  text-align: center;
  padding: 15px 47px;

  &:hover { 
    opacity: 1;
    filter:alpha(opacity=100); /* For IE8 and earlier */
  }
}

@mixin slide-rollover {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 24px;
  max-width: 0;
  font-size: 4em;
  padding-bottom: 2px;
  border-bottom: 2px solid $secondary-color;
  color: transparent;
  content: attr(data-hover);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@mixin no-opacity {
  opacity: 1;
  filter:alpha(opacity=100);
}
