\:root
  --announcement-background-color: #{"{{ theme.announcement_background_color }}"}
  --announcement-text-color: #{"{{ theme.announcement_text_color }}"}
  --border-color: #{"{{ theme.primary_color }}"}
  --border-radius: 0
  --primary-color: #{"{{ theme.primary_color }}"}
  --secondary-color: #{"{{ theme.secondary_color }}"}
  --background-color: #{"{{ theme.background_color }}"}
  --tagline-color: #{"{{ theme.tagline_color }}"}

  --primary-font: #{"{{ theme.primary_font | font_family }}"}