@import "mixins";

.in-cart {
  padding: 0;
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;

  li {
    display: block;
    padding-top: 20px;
    height: 195px;
    border-bottom: 2px solid $primary-color;

    &:last-of-type { border-bottom: none; }

    & * {
      display: inline-block;
      vertical-align: top;
    }

    img {
      max-width: 131px;
      margin-right: 70px;
    }

    h3 {
      width: 186px;
      max-width: 186px;
      margin: 0 60px 0 0;

      + a { float:right; }
    }

    > h3:last-of-type {
      width: auto;
      max-width: none;
    }

    input[type="text"] {
      padding: 10px;
      margin-right: 60px;
      max-width: 70px;
      height: 56px;
    }
  }
}

.remove {
  margin-bottom: 20px;

  #Layer_1 {
    width: 14px;
    height: 14px;
    fill: $primary-color;
  }
}

.cart {
  border-bottom: 2px solid $primary-color;
  overflow: hidden;
  position: relative;

  .grid_middle { text-align: left; }

  label {
    margin-bottom: 15px;
    display: block;
  }

  select { display: none; }

  div {
    margin-bottom: 75px;
    overflow: auto;
    text-align: right;

    &.shipping { overflow: visible; }

    &.wrapper-dropdown {
      display: inline-block;
      margin-bottom: 0;
      overflow: visible;
      text-align: left;
    }

    &.grid_middle { overflow: hidden; }

    button { margin-left: 10px; }
  }

  input[type="type"] {
    width: 400px;
    height: 56px;
    padding: 10px 20px;
  }

  h2 { margin-bottom: 15px; }

  button {
    @include primary-button;
    @include all-transitions;
    background: #fff;
    outline: none;

    &:hover {
      border-color: $secondary-color;
      color: $secondary-color;
    }
  }

  #close-cart {
    position: absolute;
    display: block;
    border: 2px solid $primary-color;
    border-bottom: none;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    @include all-transitions;

    #Layer_1 {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -8px;
      margin-left: -7px;
      width: 14px;
      height: 16px;
      @include all-transitions;
      fill: $primary-color;
    }

    &:hover {
      border-color: $secondary-color;

      #Layer_1 { fill: $secondary-color; }

    }
  }

  #cart-message {
    display: block;
    text-align: left;
    margin: 20px 0 60px 0;
    float: none;
  }

  ul.unstyled.errors { display: none !important; }

  .errors {
    padding:0;
    color: $secondary-color;
    font: 1em $primary-font;
  }

}
