@import "mixins";

.in-cart {
  padding: 0;
  margin: 0 0 55px 0;
  border-top: 2px solid $primary-color;
  border-bottom: 2px solid $primary-color;

  li {
    display: block;
    padding: 20px 0;
    height: 214px;

    & * {
      display: inline-block;
      vertical-align: top;
    }

    img { 
      max-width: 131px; 
      margin-right: 70px;
    }

    h3 {
      width: 186px;
      max-width: 186px;
      margin-top: 70px;
    }

    input[type="text"] {
      padding: 10px;
      margin: 55px 60px 0 60px;
      max-width: 70px;
      height: 56px;
    }
  }
}

.remove {
  float: right;
  margin-top: 75px;
  margin-bottom: 20px;
  text-indent: -999px;
  overflow: hidden;
  width: 14px;
  height: 14px;
  background: url({{ 'close.png' | theme_image_url }}) no-repeat center;
  background-size: auto;
}

.cart {
  border-bottom: 2px solid $primary-color;
  overflow: hidden;
  position: relative;

  .grid_middle { text-align: left; }

  label { 
    margin-bottom: 15px; 
    display: block;
  }

  div {
    margin-bottom: 75px;
    overflow: auto;
    text-align: right;


    button { margin-left: 10px; }
  }

  input[type="type"] {
    width: 400px;
    height: 56px;
    padding: 10px 20px;
  }

  h2 { margin-bottom: 15px; }

  button {
    @include primary-button;
    @include all-transitions;
    background: #fff;
    outline: none;

    &:hover {
      border-color: $secondary-color;
      color: $secondary-color;
    }
  }

  #close-cart {
    position: absolute;
    display: block;
    text-indent: 100%;
    overflow: hidden;
    border: 2px solid $primary-color;
    border-bottom: none;
    white-space: nowrap;
    width: 40px;
    height: 40px;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
    @include all-transitions;

    &:before {
      position: absolute;
      top: 0;
      left: -2px;
      content: '';
      width: 40px;
      height: 40px;
      background: url({{ 'next-arrow.png' | theme_image_url }}) no-repeat center;
      background-size: auto;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      @include all-transitions;
    }

    &:hover { border-color: $secondary-color; }
  }

  #cart-message { 
    display: block;
    text-align: left;
    margin: 20px 0 60px 0; 
    float: none;
  }

  ul.unstyled.errors { display: none !important; }

  .errors {
    padding:0;
    color: $secondary-color;
    font: 2em $primary-font;
  }

}
