#contact 
  .page_content  
    max-width: 800px
  
  .contact_form  
    &>div  
      margin-bottom: 30px
      text-align: left
    
    input, textarea  
      width: 100%
      height: 56px
      padding: 10px
    
    textarea  
      height: 350px
    
    label  
      display: block
      margin-bottom: 10px
    
  
  .contact_name, .contact_spam, .contact_send  
    display: inline-block
    width: 48%
  
  .contact_email  
    float: right
    width: 48%