@import "mixins";

.contact {
  min-height: 500px;
  margin-top: 20px;
  margin-bottom: 100px;

  h2:first-of-type {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid $secondary-color;
  }

  .grid_middle {

    label { margin-bottom: 20px; }

    input {
      width: 100%;
      padding: 15px 10px;
      margin-bottom: 30px;
    }

    textarea {
      width: 100%;
      height: 320px;
      max-height: 320px;
      padding: 15px 10px;
      color: $primary-color;
      font: 1.125em $primary-font;
      font-weight: 900;
      border: 2px solid $primary-color;
      margin-bottom: 30px;

      &:focus  {
        outline: none;
        color: $secondary-color;
        border: 2px solid $secondary-color;
      }
    }

    &:first-of-type {

      div {
        float: left;

        + div { margin-left: 30px; }
      }

      input {
        width: 400px;
        margin-bottom: 15px;
      }
    }
  }

  .spam {
    position: relative;
    display: inline-block;

    #captcha {
      width: 400px;
    }

    #captcha_image {
      position: absolute;
      bottom: 40px;
      right: 2px;
      border-left: 2px solid $primary-color;
      height: 36px;
    }
  }

  button {
    @include all-transitions;
    @include primary-button;
    background-color: $white;
    margin-left: 30px;
    outline: none;

    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}