@import "mixins"

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  min-height: 100%
  overflow-y: scroll
  position: relative

body
  background-color: $background-color
  color: $primary-color
  font-family: $primary-font
  margin: 0 0 100px
  overflow: hidden

  @media screen and (max-width: $break-medium)
    margin-bottom: 160px

a, a:hover, a:active, a:focus
  color: $primary-color
  outline: none
  text-decoration: none

a:hover
  opacity: .85
  filter: alpha(opacity=85)

ul, ol
  list-style: none
  margin: 0
  padding: 0

img
  display: block

h1, h2, h3, h4
  font-family: $primary-font
  font-weight: 900

h1
  font-size: 36px
  line-height: 36px

h2
  font-size: 28px
  line-height: 32px

h3
  font-size: 32px
  font-weight: 900
  line-height: 32px

h4
  font-size: 15px
  font-style: italic
  line-height: 15px
  text-transform: uppercase

p
  font: 1em $primary-font
  font-weight: normal
  line-height: 24px

  a
    @include all-transitions
    display: inline-block
    position: relative

    &:before
      @include all-transitions
      border-bottom: 2px solid $primary-color
      bottom: -1px
      box-sizing: content-box
      -moz-box-sizing: content-box
      -webkit-box-sizing: content-box
      content: ''
      height: 100%
      position: absolute
      width: 100%

    &:hover
      color: $secondary-color

    &:hover:before
      border-color: $secondary-color
      -webkit-transform: scale(1.1)
      transform: scale(1.1)

button, .button
  @include all-transitions
  background-color: $background-color
  border: 2px solid $primary-color
  color: $primary-color
  font: 1.125em $primary-font
  font-weight: 900
  outline: none
  padding: 15px 47px
  text-align: center

  &:hover, &:focus
    border-color: $secondary-color
    color: $secondary-color

  &:disabled, &.disabled
    border: 2px solid $primary-color
    color: $primary-color
    cursor: not-allowed
    opacity: .3

input, textarea
  @include all-transitions
  appearance: none
  -webkit-appearance: none
  -moz-appearance: none
  background: $background-color
  border: 2px solid $primary-color
  border-radius: 0
  color: $primary-color
  font: 1.125em $primary-font
  font-weight: 900

  &:focus
    border-color: $secondary-color
    color: $secondary-color
    outline: none

  &::-webkit-input-placeholder
    color: $primary-color
    font-weight: 900
    font: 1.125em $primary-font

label
  display: block
  font: 1.125em $primary-font
  font-weight: 900

.wrapper-dropdown
  @include all-transitions
  border: 2px solid $primary-color
  background: $background-color
  color: $primary-color
  cursor: pointer
  font: 1.125em $primary-font
  font-weight: 900
  height: 56px
  line-height: 56px
  margin-bottom: 20px
  position: relative
  width: 380px

  @media screen and (max-width: $break-extra-small)
    width: 100%

  select
    appearance: none
    -moz-appearance: none
    -webkit-appearance: none
    background: none
    border: 0
    height: 100%
    padding: 0 47px 0 10px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

      &:disabled
        color: graytext

    &:focus
      box-shadow: none
      outline: none

    &::-ms-expand
      display: none

  .downarrow
    @include all-transitions
    content: ''
    fill: $primary-color
    height: 8px
    margin-top: -4px
    position: absolute
    right: 20px
    top: 50%
    width: 13px
    z-index: 1

  &:hover
    border-color: $secondary-color
    color: $secondary-color

    select
      color: $secondary-color

      option:disabled
        color: graytext

    .downarrow
      fill: $secondary-color

.errors
  color: $secondary-color
  font-size: 18px
  margin-bottom: 20px
  padding: 0

  li
    margin-bottom: 8px

    &:last-child
      margin-bottom: 0

.store_tagline
  color: $tagline-color
  margin: 0 auto
  max-width: 1300px
  width: 100%

  @media screen and (max-width: $break-medium)
    margin-top: 25px

  .text
    position: absolute
    z-index: 100
    height: 50%
    width: 100%
    top: 25%
    left: 0
    text-align: center
    padding: 0 25px

    h2
      +vertical-align
      font-size: 36px
      line-height: 36px
      margin: 0
      padding: 0

      @media screen and (max-width: $break-extra-small)
        font-size: 18px
        line-height: 18px

.no_slideshow
  background-color: $secondary-color
  height: 300px

  @media screen and (max-width: $break-extra-small)
    height: 150px

.flexslider
  background: none
  border: 0
  border-radius: 0
  -webkit-border-radius: 0
  -moz-border-radius: 0
  height: 100%
  margin-bottom: 0

  .slides
    transform-style: preserve-3d
    -webkit-transform-style: preserve-3d

    >li
      transform: translateZ(0px)
      -moz-transform: translateZ(0px)
      -webkit-transform: translateZ(0px)

  .flex-viewport
    transform-style: preserve-3d
    -webkit-transform-style: preserve-3d
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)

.flex-direction-nav
  display: none

.flex-control-nav
  position: absolute
  bottom: 10px
  z-index: 10
  right: 15px
  width: auto

  @media screen and (max-width: $break-medium)
    display: none

.flex-control-paging li a, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover
  background: none
  box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none
  color: $tagline-color
  font-weight: 900
  padding: 1px 3px
  text-indent: 0

.container
  margin: auto
  max-width: 1200px
  padding: 10px 0
  width: 100%

  @media screen and (max-width: $break-extra-large)
    padding: 10px

header
  height: 90px

  .container
    @include pie-clearfix
    height: 100%
    min-height: 50px

    .brand
      @include vertical-align
      float: left
      max-width: 50%
      top: 50%

      @media screen and (max-width: $break-medium)
        max-width: 50%
        width: auto

      .text
        display: block
        float: left
        font-size: 28px
        font-weight: 900
        width: 100%
        word-wrap: break-word

        @media screen and (max-width: $break-small)
          font-size: 20px
          line-height: 20px

      .logo
        display: block
        height: 80px
        width: 300px
        background-image: #{"{% if theme.images.logo != blank %} url(\"{{ theme.images.logo.url | constrain: 600, 600 }}\") {% else %} none {% endif %}"}
        background-size: contain
        background-position: center left
        background-repeat: no-repeat

        @media screen and (max-width: $break-medium)
          max-width: 100%
          width: 200px

        img
          height: 100%
          width: auto

    .top_nav
      @include vertical-align
      float: right
      max-width: 50%

      @media screen and (max-width: $break-medium)
        max-width: 50%
        width: auto

      .nav_items
        @include pie-clearfix
        font-size: 19px
        font-weight: 900
        line-height: 19px
        margin: 0
        padding: 0

        @media screen and (max-width: $break-small)
          font-size: 17px
          line-height: 15px

        li
          float: right
          margin-left: 15px

        .open_pages, .open_shop
          @media screen and (max-width: $break-medium)
            display: none

          a
            display: inline-block
            padding: 0 3px
            position: relative

            &:before
              @include slide-rollover

            &:hover
              @include no-opacity

            &:hover:before
              max-width: 100%

            .up
              @include all-transitions
              fill: $primary-color
              height: 8px
              margin-left: 5px
              width: 12px

        .open_cart
          svg
            @include all-transitions
            fill: $primary-color
            float: left
            height: 26px
            margin-top: -3px
            margin-right: 4px
            width: 36px

            @media screen and (max-width: $break-small)
              height: 20px

          &:hover svg
            fill: $secondary-color

.hide_mobile
  @media screen and (max-width: $break-extra-small)
    display: none

.mobile_nav
  display: none
  text-align: center

  @media screen and (max-width: $break-medium)
    display: block

  ul

    li
      display: inline-block

      @media screen and (max-width: $break-medium)
        padding: 0 10px

      a
        display: inline-block
        font-size: 19px
        font-weight: 900
        line-height: 19px
        padding-right: 5px
        position: relative

        @media screen and (max-width: $break-extra-small)
          font-size: 18px

        &:before
          @include slide-rollover

        &:hover
          @include no-opacity

        &:hover:before
          max-width: 100%

        .up
          @include all-transitions
          width: 12px
          height: 17px
          fill: $primary-color
          position: relative
          top: 3px
          right: -5px

.dropdown_links
  text-align: center

  ul
    display: none
    padding: 10px 0 20px

    @media screen and (max-width: $break-medium)
      padding-top: 25px

    li
      display: inline-block

      @media screen and (max-width: $break-extra-small)
        display: block

      a
        display: block
        font-size: 17px
        line-height: 17px
        padding: 2px 7px

        @media screen and (max-width: $break-extra-small)
          padding: 9px 0

section.content h2
  margin-top: 25px

footer
  background-color: $primary-color
  bottom: 0
  color: $background-color
  font-size: 16px
  font-weight: 900
  line-height: 19px
  height: 100px
  left: 0
  position: absolute
  width: 100%

  @media screen and (max-width: $break-medium)
    height: 100%
    max-height: 130px

  @media screen and (max-width: $break-small)
    font-size: 14px

  .container
    @include pie-clearfix
    @include vertical-align

    @media screen and (max-width: $break-medium)
      -moz-transform: none
      -webkit-transform: none
      margin-top: 10px
      transform: none
      top: auto

  a, a:hover, a:active, a:focus
    color: $background-color

  .footer_credit
    float: right
    line-height: 24px
    text-align: right

  .footer_social
    float: left

  .footer_section
    max-width: 33%
    width: 33%

    @media screen and (max-width: $break-medium)
      float: none
      margin: 0
      max-width: 100%
      padding: 12px 0
      text-align: center
      width: 100%

.social_links
  text-align: left

  @media screen and (max-width: $break-medium)
    text-align: center

  li
    display: inline-block
    margin: 0 10px

    &:first-child
      margin-left: 0

      @media screen and (max-width: $break-medium)
        margin-left: 10px

    a
      display: block

      svg
        height: 22px
        width: 22px
        fill: $background-color

#maintenance, #checkout
  position: absolute
  width: 100%
  max-width: none
  height: 100%
  text-align: center
  padding: 150px 15px

  h1
    font-size: 2em

  span
    margin-right: 2px

.page_content
  @include pie-clearfix
  padding-bottom: 55px

.custom .page_content
  max-width: 800px

  ol, ul
    margin: 1em 0
    padding-left: 1em

  ul
    list-style: disc

  ol
    list-style: decimal

  img
    max-width: 100%
