html
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -moz-osx-font-smoothing: grayscale
  height: 100%
  min-height: 100%
  position: relative

body
  background-color: var(--background-color)
  color: var(--primary-color)
  font-family: var(--primary-font)
  font-size: 16px
  margin: 0 0 140px
  height: 100%
  display: flex
  flex-direction: column

  @media screen and (max-width: $break-medium)
    margin-bottom: 120px

a.skip-link
  +transition(all .3s)
  background: var(--background-color)
  border: 2px solid var(--primary-color)
  color: var(--primary-color)
  left: 25px
  padding: 12px 24px
  position: absolute
  text-decoration: underline
  top: -150px
  z-index: 100

  &:focus
    top: 20px

section.content
  flex: 1

a
  color: var(--primary-color)
  text-decoration: none

  &:hover
    color: var(--secondary-color)

ul, ol
  list-style: none
  margin: 0
  padding: 0

img
  display: block

h1, h2, h3, h4
  font-weight: 900

h1
  font-size: 36px
  line-height: 36px

h2
  font-size: 28px
  line-height: 32px

h3
  font-size: 32px
  font-weight: 900
  line-height: 32px

h4
  font-size: 15px
  font-style: italic
  line-height: 15px
  text-transform: uppercase

p
  font-weight: normal
  line-height: 1.5

  a
    text-decoration: underline
    text-underline-offset: 4px
    text-decoration-thickness: 1px

    &:hover, &:focus
      color: var(--secondary-color)
      text-decoration: underline
      text-underline-offset: 4px
      text-decoration-thickness: 2px

button
  +appearance(none)
  background: none
  border: none

.button
  background-color: var(--background-color)
  border: 2px solid var(--primary-color)
  color: var(--primary-color)
  font-weight: 900
  outline-offset: 4px
  padding: 15px 47px
  text-align: center

  &.minimal-button
    background: none
    color: var(--primary-color)
    border: none
    font-size: 1em
    padding: 0

    &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
      background: none

  &:disabled, &.disabled
    border: 2px solid var(--primary-color)
    color: var(--primary-color)
    cursor: not-allowed
    opacity: .3

  &:not(:disabled):hover, &:not(:disabled):active, &:not(:disabled):focus
    border-color: var(--secondary-color)
    color: var(--secondary-color)

.heavy-underline, .minimal-button
  text-decoration: underline
  text-underline-offset: 4px
  text-decoration-thickness: 1px

  &:hover, &:focus
    color: var(--secondary-color)
    text-decoration: underline
    text-underline-offset: 4px
    text-decoration-thickness: 2px

input, textarea
  @include all-transitions
  +appearance(none)
  background: var(--background-color)
  border: 2px solid var(--primary-color)
  border-radius: 0
  color: var(--primary-color)
  font-weight: 900

  &:hover, &:focus
    border: 2px solid var(--secondary-color)

label
  display: block
  font-size: 1.25em
  font-weight: 900

.select
  +all-transitions
  border: 2px solid var(--primary-color)
  color: var(--primary-color)
  font-weight: bold
  height: 58px
  margin-bottom: 20px
  max-width: 100%
  padding: 0
  position: relative
  width: 100%

  select
    border-radius: 0
    height: 100%
    padding: 0 66px 0 16px
    position: relative
    width: 100%
    z-index: 2

    option
      background-color: #FFF
      color: #000

      &:disabled
        color: graytext

    &:focus
      box-shadow: none

    &::-ms-expand
      display: none

  svg
    transform: translateY(-50%)
    fill: currentColor
    height: 8px
    position: absolute
    pointer-events: none
    right: 20px
    top: 50%
    width: 13px
    z-index: 1

.errors
  color: var(--secondary-color)
  font-size: 18px
  margin-bottom: 20px
  padding: 0

  li
    margin-bottom: 8px

    &:last-child
      margin-bottom: 0

.store_tagline
  color: var(--tagline-color)
  margin: 0 auto
  max-width: 1300px
  width: 100%

  @media screen and (max-width: $break-medium)
    margin-top: 25px

  .text
    position: absolute
    z-index: 100
    height: 50%
    width: 100%
    top: 25%
    left: 0
    text-align: center
    padding: 0 25px

    h2
      +vertical-align
      font-size: 36px
      line-height: 36px
      margin: 0
      padding: 0

      @media screen and (max-width: $break-extra-small)
        font-size: 18px
        line-height: 18px

.no_slideshow
  background-color: var(--secondary-color)
  height: 300px

  @media screen and (max-width: $break-extra-small)
    height: 150px

.flexslider
  background: none
  border: 0
  border-radius: 0
  -webkit-border-radius: 0
  -moz-border-radius: 0
  height: 100%
  margin-bottom: 0

  .slides
    transform-style: preserve-3d
    -webkit-transform-style: preserve-3d

    >li
      transform: translateZ(0px)
      -moz-transform: translateZ(0px)
      -webkit-transform: translateZ(0px)

  .flex-viewport
    transform-style: preserve-3d
    -webkit-transform-style: preserve-3d
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)

.flex-direction-nav
  display: none

.flex-control-nav
  position: absolute
  bottom: 10px
  z-index: 10
  right: 15px
  width: auto

  @media screen and (max-width: $break-medium)
    display: none

.flex-control-paging li a, .flex-control-paging li a.flex-active, .flex-control-paging li a:hover
  background: none
  box-shadow: none
  -moz-box-shadow: none
  -webkit-box-shadow: none
  color: var(--tagline-color)
  font-weight: 900
  padding: 1px 3px
  text-indent: 0

.container
  margin: auto
  max-width: 1200px
  padding: 16px
  width: 100%

  @media screen and (max-width: $break-extra-large)
    padding: 10px

header
  font-size: 19px
  font-weight: 900
  flex-shrink: 0
  padding: 4px 0

  .container
    display: flex
    align-items: center
    height: 100%
    gap: 20px

  .brand
    img
      max-height: 70px

      @media screen and (max-width: $break-small)
        max-height: 60px

.open_cart

  a
    display: flex
    align-items: center
    font-weight: bold
    padding: 4px
    gap: 8px
    position: relative
    white-space: nowrap

    &:after
      @include slide-rollover
      top: auto
      left: 4px
      bottom: 0px

    &:hover:after
      width: calc(100% - 8px)

    svg
      flex-shrink: 0
      fill: currentColor
      height: 18px

  .header_cart_details
    display: flex

  .hide_mobile
    @media screen and (max-width: $break-small)
      display: none

footer
  background-color: var(--primary-color)
  color: var(--background-color)
  font-size: 16px
  flex-shrink: 0
  font-weight: 900
  width: 100%

  a
    color: var(--background-color)
    opacity: .85

    &:hover, &:focus
      color: var(--background-color)
      opacity: 1

  .container
    display: flex
    flex-direction: column
    align-items: center
    height: 100%
    justify-content: center
    gap: 40px
    padding: 50px 24px

.bigcartel-credit
  line-height: 1em
  font-size: 15px
  display: flex
  align-items: center
  gap: 8px
  outline-offset: 4px
  padding: 2px 0
  text-decoration: none

  &:hover
    text-decoration: none

  &__text
    position: relative

  &__lockup
    display: block
    fill: currentColor
    padding-top: 1px
    width: 86px

.social_icons
  +flexbox
  gap: 8px
  list-style: none
  margin: 0
  padding: 0
  flex-wrap: wrap
  justify-content: center

  a
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    outline-offset: 4px
    width: 36px
    height: 36px

    svg
      fill: currentColor
      height: 20px
      width: 20px

      &.tumblr-icon
        width: 14px

#maintenance
  position: absolute
  width: 100%
  max-width: none
  height: 100%
  text-align: center
  padding: 150px 24px

  h1
    font-size: 2em

  span
    margin-right: 2px

.page_content
  @include pie-clearfix
  padding-top: 60px
  padding-bottom: 120px

  @media screen and (max-width: $break-small)
    padding-top: 24px

.custom .page_content
  max-width: 800px

  ol, ul
    margin: 1em 0
    padding-left: 1em

  ul
    list-style: disc

  ol
    list-style: decimal

  img
    max-width: 100%

.sr-only
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.alert-message
  font-weight: normal

  a
    text-decoration: underline
