@import "mixins";


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }


/* ==========================================================================
global
========================================================================== */

html {
  background-color: $primary-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body {
  font-family: $primary-font;
  background-color: $white;
  color: $primary-color;
  overflow: hidden;
}


a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
}

a:hover {
  opacity: .85;
  filter:alpha(opacity=85);
}

hr {
  border: 0;
  height: 1px;
  background: $white;

}

ul li {
  list-style: none;
  display: inline-block;
}

img { vertical-align: bottom; }

h1 {
  font: 2.625em $primary-font;
  font-weight: 900;
}

h2 {
  font: 1.875em $primary-font;
  font-weight: 900;
}

h3 {
  font: 1.125em $primary-font;
  font-weight: 900;

}

h4 {
  font: .875em $primary-font;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

a { color: $primary-color; }

p {
  font: 1em $primary-font;
  font-weight: 700;
  line-height: 24px;

  a {
    position: relative;
    display: inline-block;
    @include all-transitions;

    &:before {
      position: absolute;
      box-sizing: content-box;
      content: '';
      height: 100%;
      width: 100%;
      border-bottom: 2px solid $primary-color;
      bottom: -1px;
      @include all-transitions;
    }

    &:hover { color: $secondary-color; }

    &:hover:before {
      border-color: $secondary-color;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

small {
  font: .875em $primary-font;
  font-weight: 900;
  line-height: 24px;
}

.info-pages {

   ul, ol {
    font: .875em $primary-font;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
   }

   ul li {
    display: list-item;
    list-style: disc;
  }
}

input:not([type=submit]):not([type=file]) {
  color: $primary-color;
  font: 1.125em $primary-font;
  font-weight: 900;
  border: 2px solid $primary-color;

  &:focus  {
    outline: none;
    color: $secondary-color;
    border: 2px solid $secondary-color;
  }

  &::-webkit-input-placeholder {
    color: $primary-color;
    font-weight: 900;
    font: 1.125em $primary-font;
  }
}

label {
  font: 1.125em $primary-font;
  font-weight: 900;
  display: block;
}

.switch-color {
  fill: $secondary-color;
}


/* ==========================================================================
header
========================================================================== */

header {
  font-size: 1.125em;
  font-weight: 900;

  .logo {
    display: inline-block;

    img { max-height: 80px; }

    h2 {
      display: inline-block;
      max-width: 500px;
    }
  }

  .nav {
    display: inline-block;
    float: right;
    padding-top: 27px;
    text-align: right;
    margin-right: 1.25%;

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      padding-left: 18px;

      &:first-child { padding-left: 0; }
    }

    a {
      display: inline-block;
      position: relative;
      padding-right: 5px;

      &:before { @include slide-rollover; }

      &:hover { @include no-opacity; }

      &:hover:before { max-width: 100%; }
    }

    .up {
      width: 12px;
      height: 17px;
      fill: $primary-color;
      position: relative;
      top: 3px;
      right: -5px;
      @include all-transitions;
    }
  }

  .drop-cat, .drop-pages {

    ul {
      @include all-transitions;
      padding: 0;
      text-align: center;

      li {
        padding: 5px 10px;
        position: relative;
      }
    }
  }

  .shopping-cart {
    display: inline-block;
    float: right;
    padding-top: 24px;
    text-align: right;
    margin-left: 1.25%;

    > a {
      display: inline-block;
      width: 30px;
      height: 28px;

      margin: 2px 3px 0 0;
    }

    .cart-icon {
      fill: $primary-color;
      @include all-transitions;
    }

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: top;
    }

    li { padding: 3px 0 0 1px; }

    &:hover .cart-icon {
      fill: $secondary-color;
    }
  }
}

.flip {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.errors {
  margin-top: 0;

  h2 {
    margin-top: 0;
    color: $secondary-color;
  }
}

/* ==========================================================================
info-pages
========================================================================== */

.info-pages {
  min-height: 500px;
  margin-top: 40px;

  .grid_middle { margin-bottom: 100px; }

  img { max-width: 830px; }

  h2:first-of-type {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid $secondary-color;
  }
}

/* ==========================================================================
footer
========================================================================== */

footer {
  background-color: $primary-color;
  padding: 5px 0;
  margin-top: 60px;

  p {
    font-weight: 900;
    color: $white;

    &:first-of-type { float: left; }

    &:last-of-type { float: right; }

    a {
      color: $white;

      &:hover { color: $white; }

      &:before { content: none; }
    }
  }
}
