@import "mixins";


/* ========================================================================== 
 Start of Media Queries 
========================================================================== */

@media screen and (max-width: 1200px) {

  /* ================================ 
   Banner 
  =================================== */

  section .container .grid_12 h1 { 
    margin-top: 120px; 
    padding: 0 20px;
  }

  .control-wrap { 
    bottom: -100px;
    right: 2%;
  }

  /* ================================ 
   Cart 
  =================================== */

  .in-cart li {

    h3 { margin-top: 60px; }

    > h3:last-of-type { margin-top: 70px; }

    img { margin-right: 40px; }

    input[type="text"] {
      margin-right: 30px;
      margin-left: 30px;
    }
  }

  /* ================================ 
   contact form 
  =================================== */

  .contact .grid_middle:first-of-type div {

    width: 100%;

    input { width: 100%; }
  }

  .contact .grid_middle:first-of-type div + div { margin-left: 0px !important; } 

}

@media screen and (max-width: 1040px) {

  /* ================================ 
  global 
  =================================== */

  .grid_12 {
    width: 95.5%;
    margin: 10px 2.25%;
  }

  .grid_6 {
      width: 45.5%;
      margin: 10px 2.25%;
    }

  /* ================================ 
   Banner 
  =================================== */

  section .container .grid_12 h1 {
    margin-top: 90px;
    font-size: 2.4em;
  }

  /* ================================ 
   Products 
  =================================== */

  .products {
    a figure figcaption { margin-left: 0; }
  }

}

@media screen and (max-width: 945px) {

  .logo h2 { max-width: 400px; }

  /* ================================ 
   Banner 
  =================================== */

  .control-wrap { bottom: -80px; }

  /* ================================ 
   Instagram 
  =================================== */

  .instagram { margin-top: 40px; }

}


@media screen and (max-width: 860px) {


  /* ================================ 
   Banner 
  =================================== */

  section .container .grid_12 h1 { margin-top: 70px; }

  .control-wrap { bottom: -60px; }


  /* ================================ 
   Cart 
  =================================== */

  .grid_middle {
    width: 95.5%; 
    margin: 10px 2.25%;
  }


  /* ================================ 
   Product 
  =================================== */

  .single-product .grid_6 { 
    width: 95.5%; 
    margin: 10px 2.25%;
  }

  .fixed { position: static; }

  .product-shots ul li img { max-width: none; }

}

@media screen and (max-width: 768px) {

  .logo h2 { max-width: 400px; }

  /* ================================ 
   Banner 
  =================================== */
  
  section .container .grid_12 h1 {
    margin-top: 60px;
    font-size: 2em;
  }

  

}


@media screen and (max-width: 710px) {

  .logo h2 { 
    max-width: 250px; 
    font-size: 1.25em;
  }

  /* ================================ 
  Products 
  =================================== */


  .products a figure figcaption { margin-left: 25px; }


  /* ================================ 
  Product
  =================================== */

  .single-product .grid_6 {
    width: 95.5%;
    margin: 10px 2.25%;
  }

  /* ================================ 
  Banner 
  =================================== */
  
  section .container .grid_12 h1 {
    margin-top: 50px;
    font-size: 1.75em;
  }

  


  /* ================================ 
  Categories
  =================================== */

  .categories {
    margin-top: -85px;
    font-size: .75em;

    li { padding-top: 12px; }
  }


  /* ================================ 
  Products 
  =================================== */
  
  .products {

    ul .grid_6 {
      width: 95.5%;
      margin: 10px 2.25%;

      img { max-width: 240px; }
    }

    a figure figcaption { max-width: 310px; }

  }

}

@media screen and (max-width: 640px) {

  /* ================================ 
  Banner 
  =================================== */

  header {
    .drop-cat {
      margin-top: 50px;

      ul li { 
        display: block; 
        padding-top: 10px;
      }

    } 

    .drop-pages {
      margin-top: 50px;

      ul li { 
        display: block; 
        padding-top: 10px;
      }
    }
  }

  ul.bxslider { display: none; }

  .banner { min-height: 200px; }

  section .container .grid_12 h1 { margin-top: 50px; }

  .grid_12 .control-wrap .bx-pager { display: none; }

  .description h4 + em {
    position: absolute;
    top: 40px;
    display: block;
    margin: 5px 0;
    font: 2.625em "Lato", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    font-weight: 900;
    color: $secondary-color;
    line-height: 38px;
  }


  /* ================================ 
  Products 
  =================================== */

  .products a figure figcaption { max-width: 280px; }

  /* ================================ 
   Cart 
  =================================== */
  

 
  .in-cart li {
    position: relative;
    height: auto;

   
    h3 { 
      width: 340px;
      max-width: 340px;
    }

    > h3:last-of-type { 
      margin-top: 42px; 
    }

    input[type="text"] {
      margin-left: 0;
      margin-top: 26px;
    }

    .remove { 
      position: absolute;
      top: 20px;
      right: 0;
      margin-top: 0; 
    }
  } 

  .contact .spam { width: 100%; }

  .contact .spam #captcha { width: 100% !important; }

  .contact button { margin-left: 0 !important; }
}

@media screen and (max-width: 580px) {

   .logo h2 { 
    max-width: 100%; 
    margin-bottom: 0;
  }


  /* ================================ 
  Products 
  =================================== */

  .products a figure figcaption { 
    max-width: 190px; 
    
    h2 { font-size: 1.5em; }
  }


  /* ================================ 
   Instagram 
  =================================== */

  .instagram {

    #instagram-icon { 
      padding-top: 30px;
      margin-bottom: 0; 
    }

    .grid_3 {
      width: 45.5%;
      margin: 12px 2.25%;
    }
  }

  .in-cart li {
   
    h3 { 
      width: 280px;
      max-width: 280px;
    }
  }
}

@media screen and (max-width: 480px) {

  /* ================================ 
  Products 
  =================================== */

  .products a figure figcaption { max-width: 150px; }


  .in-cart li h3 {
    width: 360px;
    max-width: 360px;
  }

}

@media screen and (max-width: 455px) {

  /* ================================ 
  header 
  =================================== */

  header .nav {
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
  }

}

@media screen and (max-width: 434px) {

  /* ================================ 
  Products 
  =================================== */

  .products ul .grid_6 img { max-width: none; }

  .products a figure figcaption { max-width: none; }


  /* ================================ 
  Product
  =================================== */

  .description .add-to-cart { 
    float: right; 
    margin-left: 0;
  }

  .cart button { padding: 15px 26px; }

}

@media screen and (max-width: 400px) {

  /* ================================ 
  Products 
  =================================== */

  .products ul .grid_6 img { max-width: 305px; }


  /* ================================ 
  Product
  =================================== */

  .wrapper-dropdown { width: 382px; }

  .wrapper-dropdown .dropdown { width: 382px; }


  /* ================================ 
  Footer 
  =================================== */

  footer p:first-of-type { float: none; }

  footer p:last-of-type { float: none; }

}

@media screen and (max-width: 375px) { 

  /* ================================ 
  Product
  =================================== */

  .wrapper-dropdown { width: 305px; }

  .wrapper-dropdown .dropdown { width: 305px; }

  .description .add-to-cart { width: 240px; }

  .description input[type="text"] { width: 50px; }

  .description .add-to-cart button { left: 0px; }

}






