@import "mixins"

@media screen and (max-width: $break-small) 
  .product_list li a figure figcaption h3 
    font-size: 1.1em
  
  header .container .brand .text
    font-size: 20px
    line-height: 20px
    
  header .container .top_nav .nav_items
    font-size: 17px
    line-height: 15px
    
  header .container .top_nav .nav_items .open_cart svg
    height: 20px
    
  .contact label
    margin-bottom: 10px 
  
  .contact .captcha_holder 
    width: 100% 

  .contact .captcha_holder #captcha 
    width: 100% !important 

  .contact button
    margin-left: 0 !important 
 
@media screen and (max-width: $break-extra-small)
  .hide_mobile
    display: none

  .mobile_nav ul li a
    font-size: 17px

  header .container .brand .logo
    height: 60px
    width: 100px
    
  .store_tagline .text h2
    font-size: 18px
    
  body 
    margin-bottom: 150px
  
  .description .add-to-cart 
    float: right
    margin-left: 0
  
  .wrapper-dropdown
    width: 100%
  
  .cart_shipping_discounts
  
    .cart_shipping, .cart_discounts
      float: none
      width: 100%
    
    .cart_discounts
      margin-top: 20px

  .product_list li 
    width: 100%
  
  .product_details 
    margin-top: 20px
  
  .product_details, .product_photos 
    width: 100%
    float: none
    max-width: none
  
  .product_photos 
    margin-top: 20px
  
  .dropdown_links ul li 
    display: block
    
    a 
      padding: 9px 0
    
  button, .button 
    padding: 10px 25px

  .no_slideshow
    height: 150px
    
  .cart_items li
    font-size: 14px
  
  .cart_items li a.product_image 
    display: none
  
  .cart_items li a.product_image img 
    max-width: 40px
  
  .cart_items li .product_details 
    width: 38%
    
  .cart_items li .product_actions div.quantity input[type='text']
    font-size: 16px
    height: 44px
    width: 44px
    
  .cart_items li .product_actions div.remove a svg
    height: 14px
    width: 14px

  .cart_items li .product_actions 
    width: 62%
  
  .product_details input[type="text"]
    font-size: 15px
    float: left
  
  .product_details .add-to-cart
    font-size: 15px
    margin-left: 14px
    
  button.checkout_btn
    margin-left: 10px
  