@import "mixins";

@media screen and (max-width: 1200px) {
  .product_list li a figure img { 
    width: 55%; 
  }
}
@media screen and (max-width: 1040px) {
  .product_list li a figure img { 
    width: 50%; 
  }
}
@media screen and (max-width: 945px) {
  .product_list li a figure img { 
    width: 43%; 
  }
  .product_list li a figure figcaption h3 {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 910px) {
  .product_list li a figure img { 
    width: 100%; 
  }
  .product_list li a figure figcaption h3 {
    margin-bottom: 0px;
  }
  .product_list li a figure figcaption { 
    max-width: 100%;
    margin-left: 0px;
  }
  .mobile_nav { 
    display: block;
    
    ul li { 
      padding: 0 10px;
    }
  }
  .dropdown_links ul { 
    padding-top: 25px;

  }
  header .nav_items li.open_pages { display: none; }
  header .nav_items li.open_shop { display: none; }
}

@media screen and (max-width: 810px) {
  header { 
    height: auto;
    padding-top:20px;
  }
  header .container .logo a h1 { 
    font-size: 24px;
  }
  header .container .top_nav, header .container .logo { 
    top:auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .open_cart a {
    font-size: 15px;
  }
  header .nav { 
    float: none;
    text-align: center;
    width: 100%;
    clear: both;
    margin-bottom: 20px;
    
  }
  .cart_items li a.product_image { 
    max-width: 60px;
  }
  .cart_items li a.product_image img { 
    max-width: 60px;
  }
  .cart_items li .product_details { 
    max-width: 150px;
  }
  .cart_items li .product_actions { 
    width: 230px;
  }
  .cart_items li .product_actions div.price { 
    width: 90px;
  }
  .cart_items li .product_actions div.remove { 
    width: 45px;
  }
}


@media screen and (max-width: 768px) {
  .product_list li a figure figcaption h3 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 640px) { 
  .product_list li a figure figcaption h3 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 500px) { 
  .product_list li {
    width: 100%;
  }
  .product_details { 
    margin-top: 20px;
  }
  .product_details, .product_photos { 
    width: 100%;
    float: none;
    max-width: none;
  }
  .product_photos { 
    margin-top: 20px;
  }
  .dropdown_links ul li { 
    display: block;
    
    a { 
      padding: 9px 0;
    }
  }
  button, .button { 
    padding: 10px 30px;
  }
  
  .cart_items li { 
    height: 100px;
  }
  .cart_items li a.product_image {
    display: none;
  }
  .cart_items li a.product_image img {
    max-width: 40px;
  }
  .cart_items li .product_details { 
    height: 100px;
    max-width: 120px;
  }
  .cart_items li .product_details a h3 {
    font-size: 15px;
    line-height: 23px;
  }
  .cart_items li .product_actions {
    width: 235px;
  }
  .product_details input[type="text"] {
    float: left;
    /* height: 56px; */
    width: 46px;
    height: 46px;
    padding: 10px;
  }
  .product_details .add-to-cart { 
    margin-left: 10px;
  }
}


@media screen and (max-width: 945px) {

  .logo h2 { max-width: 400px; }
  
  .category_name { 
    font-size: 1.2em;
    margin-top: 15px;
  }
  

}




@media screen and (max-width: 640px) {

  .contact label { margin-bottom: 10px; }
  
  .contact .captcha_holder { width: 100%; }

  .contact .captcha_holder #captcha { width: 100% !important; }

  .contact button { margin-left: 0 !important; }
}

@media screen and (max-width: 580px) {
  body { 
    margin-bottom: 150px;
  }
  footer { 
    height: 150px;
  }
}

@media screen and (max-width: 434px) {

  .description .add-to-cart {
    float: right;
    margin-left: 0;
  }
  
}

@media screen and (max-width: 400px) {

  .wrapper-dropdown { width: 382px; }

  .wrapper-dropdown .dropdown { width: 382px; }

  footer p:first-of-type { float: none; }

  footer p:last-of-type { float: none; }
  
  footer p { text-align: center; }

}

