@import "mixins"

.product_details
  float: left
  padding-right: 75px
  width: 50%

  @media screen and (max-width: $break-large)
    padding-right: 40px

  @media screen and (max-width: $break-medium)
    float: none
    padding: 0
    width: 100%

  @media screen and (max-width: $break-small)
    margin-top: 20px

  h1.product_title
    margin-bottom: 10px

  .product_subtitle
    font-size: 18px
    font-weight: bold
    margin-bottom: 40px

    @media screen and (max-width: $break-large)
      margin-bottom: 20px

  .product_status
    color: $secondary-color
    font-style: italic

  .product_description
    margin-bottom: 48px

    p
      margin: revert

    &>:first-child
      margin-top: 0

    &>:last-child
      margin-bottom: 0

    ol, ul
      margin: 1em

    ul
      list-style: disc

    ol
      list-style: decimal

  .product_form
    @include pie-clearfix
    width: 380px

    @media screen and (max-width: $break-large)
      width: 340px

    @media screen and (max-width: $break-small)
      width: 100%

  .wrapper-dropdown
    width: 100%

  .product_quantity_button
    display: flex
    gap: 16px

  input[type="text"]
    float: left
    outline-offset: 4px
    height: 56px
    padding: 10px
    text-align: center
    width: 56px

  .reset-selection-button-container
    +flexbox
    width: 100%

  .reset-selection-button
    display: none
    font-size: 15px
    margin-left: auto
    margin-top: 20px
    text-align: right

  .add-to-cart-button
    +transition(none)
    flex: 1
    height: 56px
    padding: 15px
    position: relative
    text-align: left

    >span
      @include vertical-align
      position: absolute

    .add_text
      left: 15px
      width: 75%

    .price_info
      @include all-transitions
      border-left: 2px solid $primary-color
      color: $primary-color
      display: none
      padding-left: 15px
      right: 15px

    &:hover .price_info, &:focus .price_info
      border-left: 2px solid $secondary-color
      color: $secondary-color

  .sharing
    font-weight: 900
    font-size: 17px
    line-height: 17px
    margin-top: 35px
    padding: 0

    li
      border-right: 2px solid $primary-color
      display: inline-block
      margin-right: 4px
      padding-right: 8px

      a
        cursor: pointer

      &:last-child
        border-right: 0

.product_photos
  float: right
  max-width: 560px
  width: 50%

  @media screen and (max-width: $break-medium)
    float: none
    margin-top: 50px
    max-width: 100%
    padding: 0
    width: 100%

.back_to_all
  @include all-transitions
  display: inline-block
  font-size: 1em
  font-weight: 900
  margin-bottom: 20px

  svg
    @include all-transitions
    display: inline-block
    fill: $primary-color
    height: 12px
    margin-right: 8px
    width: 13px

  &:hover
    color: $secondary-color

    svg
      fill: $secondary-color

.fixed
  position: fixed
  right: 50%
  margin-right: -50%

.product-form select span, .product-form select span option
  display: none
  opacity: 0
  visibility: hidden

#instant-checkout-button
  margin-top: 12px
