@import "mixins";

.main-content { position: relative; }

.category_name {
  margin-top: 0px;
  font-weight: 900;
  font-size: 1.3em;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}
.product_list {
  padding: 0px;
  margin: 0 -15px;
  position: relative;
  
  li {
    display: block;
    padding: 15px;
    width: 50%;
    
    a {
      display: block;

      figure {
        display: inline-block;
        position: relative;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        border-bottom: 2px solid $primary-color;

        img {
          display: block;
          width: 62%;
          float: left;
          position: relative;
          z-index: 1;
        }

        figcaption {
          float: left;
          max-width: 185px;
          margin-left: 25px;
          @include all-transitions;
          
          h3 {
            font-size: 1.8em;
            margin: 10px 0;
          }
          
          small + small {
            color: $secondary-color;
            margin-left: 4px;
          }
        }
        .arrow {
          @include all-transitions;
          position: absolute;
          bottom: 20px;
          left: 0;
          width: 19px;
          height: 18px;
          fill: $secondary-color;
          opacity: 0;
          filter: alpha(opacity= 0);
        }

        &:hover figcaption {
          color: $secondary-color;
        }

        &:hover .arrow {
          left: calc(100% - 19px);
          opacity: 100;
          filter: alpha(opacity= 100);
        }

        &:hover:before { max-width: 100%; }
      }
    }
  }
}

.pagination {
  text-align: center;
  margin-top: 40px;
  font-size: 1em;
  font-weight: 900;

  a, span { 
    display: inline-block;
    padding: 3px 4px;
  }
  .disabled { display: none; }

  .current { color: $secondary-color; }

}

.prev svg, .next svg {
  width: 13px;
  height: 12px;
  fill: $primary-color;
}