@import "mixins";

.fixed {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 20px;
}

.stat {
  position: static;
}

.single-product { position: relative; }

.wrapper-dropdown {
  position: relative;
  width: 400px;
  height: 56px;
  padding: 15px 20px;
  color: $primary-color;
  font: 1.125em $primary-font;
  font-weight: 900;
  border: 2px solid $primary-color;
  background: #fff;
  cursor: pointer;
  @include all-transitions; 

  &:after {
    content: '';
    width: 13px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -4px;
    background: url({{ 'drop-arrow.png' | theme_image_url }}) no-repeat;
    background-size: auto;
    @include all-transitions;
  }

  .dropdown {
    position: absolute;
    top: 81%;
    left: -2px;
    margin-top: 0;
    padding: 0 0 10px 0;
    width: 400px;
    background: #fff;
    font: inherit;
    font-weight: inherit;
    border: 2px solid $primary-color;
    border-top: none;
    max-height: 0;
    overflow: hidden;
    @include all-transitions;

    li {
      display: block;
      padding: 10px 20px;

      a {
        display: block;
        color: inherit;
        @include all-transitions;
      }

      &:hover a { color: $secondary-color; }
    }
  }

  &.active { border-color: $secondary-color; }
 
  &.active:after {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
 
  &.active .dropdown {
    max-height: 400px;
    border-color: $secondary-color;
    overflow: scroll;
  }
}

.description {
  position: relative;

  #back-to-all {
    display: inline-block;
    position: relative;
    margin-bottom: 60px;

    a {
      font-size: 1em;
      font-weight: 900;
      padding-left: 20px;
      @include all-transitions; 
    
      .prev {
        position: absolute;
        fill: $primary-color;
        width: 13px;
        height: 12px;
        top: 5px;
        left: 0;
        @include all-transitions;
      }
    }

    &:hover a {
      color: $secondary-color;
      
      .prev {
        fill: $secondary-color;
      }
    }
  }

  p { padding-right: 40px; }

  .wrapper-dropdown { 
    margin-top: 40px; 
    z-index: 3;
  }

  input[type="text"] {
    float: left;
    padding: 10px;
    margin-top: 30px;
    max-width: 70px;
    height: 56px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
  }

  .add-to-cart {
    float:left;
    position: relative;
    border: 2px solid $primary-color;
    width: 300px;
    height: 56px;
    margin: 30px 0 0 30px;
    @include all-transitions;

    button {
      color: $primary-color;
      font: 1.125em $primary-font;
      font-weight: 900;
      background: transparent;
      border: 0;
      height: 28px;
      position: absolute;
      top: 50%;
      margin-top: -14px;
      left: 20px;
      @include all-transitions; 

      &:focus { outline: none; }

      &:hover, &:active { color: $secondary-color; }
    }

    small {
      position: absolute;
      height: 30px;
      border-left: 2px solid $primary-color;
      padding: 3px 20px;
      top: 50%;
      margin-top: -15px;
      right: 0;
      @include all-transitions; 
    }

    &:hover, &:active { border-color: $secondary-color; }
  }
}

#product_form select { display: none; }

.product-shots {
  position: relative;

  ul:first-of-type { padding: 20px 0 40px 0; }

  ul {
    padding: 0;
    margin: 0;

    li {
      padding-bottom: 25px;

      img {
        max-width: 570px;
        width: 100%;
        height: auto;
      }
    }
  }
}

.mfp-title { display: none; }

