@import "mixins";

.main-content { position: relative; }

.category {
  position: absolute;
  z-index: 3;
  font-size: .875em;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  width: 198px;
  left: 50%;
  margin: -85px 0 0 -99px;
  padding: 10px 15px;
  background-color: #fff;
}

.products {
  margin-top: 60px;

  ul {
    padding:0;

    li { display: block; }
  }

  a {

    figure {
      display: inline-block;
      position: relative;
      width: 100%;
      margin: 0;
      padding-bottom: 20px;
      border-bottom: 2px solid $primary-color;

      img {
        float: left;
        position: relative;
        z-index: 1;
      }

      figcaption {
        float: left;
        max-width: 185px;
        margin-left: 25px;
        @include all-transitions;

        small + small {
          color: $secondary-color;
          margin-left: 4px;
        }
      }

      &:before { 
        @include slide-rollover;
        margin-top: 2px;
        height: 100%;
        font-size: 200px;
        color: transparent; 
      }

      .arrow {
        @include all-transitions;
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 19px;
        height: 18px;
        fill: $secondary-color;
        opacity: 0;
        filter: alpha(opacity= 0);
      }

      &:hover figcaption { 
        color: $secondary-color;
      }

      &:hover .arrow {
        left: calc(100% - 19px);
        opacity: 100;
        filter: alpha(opacity= 100);
      }

      &:hover:before { max-width: 100%; }
    }
  }
}

.pagination {
  text-align: center;
  margin-top: 40px;
  font-size: 1em;
  font-weight: 900;

  a {
    display: inline-block;
    position: relative;
    margin: 0 2px;

    &:before { @include slide-rollover; }

    &:hover { @include no-opacity; }

    &:hover:before { max-width: 100%; }
  }
  
  .next {
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    width: 13px;
    height: 12px;
    background: url({{ 'next-arrow.png' | theme_image_url }}) no-repeat center;
    background-size: auto;
    margin-left: 15px;
  }

  .previous {
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    width: 13px;
    height: 12px;
    background: url({{ 'prev-arrow.png' | theme_image_url }}) no-repeat center;
    background-size: auto;
    margin-right: 15px;
  }

   .last {
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
    width: 16px;
    height: 12px;
    background: url({{ 'last-arrows.png' | theme_image_url }}) no-repeat center;
    background-size: auto;
    margin-left: 5px;
  }

  a:before { height: 23px; }

  .disabled { display: none; }

}

.instagram {
  margin: 70px auto 100px auto;
  text-align: center;

  a { 
    display: block; 
    font-size: 1.875em;
    font-weight: 900;
  }

  #instagram-icon {
    width: 23px;
    fill: $primary-color;
  }

  ul {
    margin: 20px 0 0 0;
    padding: 0;
    
  }

  img {
    width: 100%;
    max-width: 270px;
    max-height: 270px;
  }
}
