@import "mixins";

.product_details { 
  float: left;
  padding-right: 75px;
  width: 50%;
  
  
  .product_form { 
    @include pie-clearfix;
  }
  
  input[type="text"] {
    float: left;
    height: 56px;
    width: 60px;
    padding: 10px;
  }
  
  .add-to-cart {
    @include all-transitions;
    max-width: 290px;
    padding-left: 15px;
    position: relative; 
    text-align: left;
    width: 290px;    

    small {
      @include all-transitions;
      color: $primary-color;
      border-left: 2px solid $primary-color;
      height: 30px;
      margin-top: -15px;
      padding: 3px 20px;
      position: absolute;
      right: 0;
      top: 50%;
    }
    
    &:hover small, &:focus small {
      color: $secondary-color;
      border-left: 2px solid $secondary-color;
    }
  }
  .sharing {
    font-weight: 900;
    font-size: 17px;
    line-height: 17px;
    margin-top: 35px;
    padding: 0;
    
    li {
      border-right: 2px solid $primary-color; 
      display:inline-block;
      margin-right: 4px;
      padding-right: 8px;
      
      &:last-child { 
        border-right: 0px;
      }
    }
  }
}

.product_photos { 
  float: right;
  max-width: 560px;
  width: 50%;
  
  li { 
    margin-bottom: 25px;
    
    a { 
      display: block;
    }
  }
  img { 
    display: block;
    width: 100%;
  }
}
.mfp-title { 
  display: none;
}

.back-to-all {
  @include all-transitions;
  font-size: 1em;
  font-weight: 900;
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;

  svg {
    @include all-transitions;
    fill: $primary-color;
    height: 12px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 13px;
  }

  &:hover {
    color: $secondary-color;
    
    svg {
      fill: $secondary-color;
    }
  }
}