<div class="container clearfix contact">
   <div class="grid_middle">
  {% if contact.sent %}

    <p>Your message has been sent and we&#8217;ll get back to you soon.</p>

  {% else %}
    <h2>{{ page.name }}</h2>
  </div>
  <form method="post" action="/contact">
    {% if errors != blank %}
      <div class="grid_middle errors">
         {% for error in errors %}
         <h2>{{ error }}!</h2>
         {% endfor %}
      </div>
    {% endif %}
    <div class="grid_middle">
      <div>
        <label for="name">Name</label>
        {{ contact | contact_input: 'name' }}
      </div>
      <div>
        <label for="email">Email</label>
        {{ contact | contact_input: 'email' }}
      </div>
    </div>
    <div class="grid_middle">
      <label for="subject">Subject</label>
      {{ contact | contact_input: 'subject' }}

      <label for="message">Message</label>
      {{ contact | contact_input: 'message' }}

      <div class="spam">
        <label for="captcha">Spam check</label>
        {{ contact | contact_input: 'captcha' }}
        {{ contact.captcha }}
      </div>

      <button type="submit" name="submit" title="Send us an email">Send</button>
    </div>
  </form>
  {% endif %}
</div>

