<!DOCTYPE html>
<html>
  <head>
    <title>{{ store.name }} &mdash; {{ page.name }}</title>

    <meta charset="utf-8">
    <meta name="description" content="{{ page.meta_description }}">
    <meta name="keywords" content="{{ page.meta_keywords }}">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,user-scalable=no">

    <link href="{{ theme | theme_css_url }}" rel="stylesheet">

    {{ head_content }}
  </head>

  <body id="{{ page.permalink }}" class="{{ page.category }}">
    <header>
      <div class="container clearfix">
        <div class="grid_12">
          <div class="logo">
            <a href="/"><img src="/images/gv-logo.png" alt="Shop Logo"></a> <!-- TAKE OUT LOGO -->
            <!-- <a href="/" title="{{ store.name | escape }}">
            {% if theme.logo != blank %}
              <img src="{{ theme.logo.url }}" alt="{{ store.name }}">
            {% else %}
              <h2>{{ store.name }}</h2>
            {% endif %}
            </a> -->
          </div>
          <div class="shopping-cart">
            <a href="/cart"></a>
            <ul>
              <a href="/cart">
                <li>{{ cart.item_count }}</li>
                <li>Items:</li>
                <li>{{ cart.total | money_with_sign }}</li>
              </a>
            </ul>
          </div>
           <div class="nav">
            <ul>
              {% for page in pages.all %}
              <li>{{ page | link_to }}</li>
              {% endfor %}
              <li><a href="/contact">Contact</a></li>
              {% if store.website != blank %}
              <li><a href="{{ store.website }}">Back to Site</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>    
    </header> <!-- END OF HEADER -->  

      {% if errors != blank %}
        <ul class="unstyled errors">
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if page.category == 'custom' %}
        <div class="container clearfix info-pages">
          <div class="grid_middle">
          {{ page_content | paragraphs }}
          </div>
        </div>
        {% else %}
          {{ page_content }}
        {% endif %}

    <footer>
      <div class="container clearfix">
        <div class="grid_12">
          <p>&copy; {{ 'Today' | date: '%Y' }} {{ store.name }}</p>
          <p>{{ bigcartel_credit}}</p>
        </div>
      </div>    
    </footer> <!--END OF FOOTER -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ 'api' | theme_js_url }}" type="text/javascript"></script>
    <script src="{{ theme | theme_js_url }}"></script>
  </body>
</html>