<div class="product_details">
    <a href="/products" class="back_to_all" title="All products"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11" enable-background="new 0 0 12 11" xml:space="preserve"><polygon points="5.5,11 7.2,9.3 4.6,6.7 12,6.7 12,4.3 4.6,4.3 7.2,1.7 5.5,0 0,5.5 "/></svg><span>All products</span></a>

  <h2>{{ product.name }}</h2>
  {% case product.status %}
    {% when 'sold-out' %}
      <h3 class="status">Sold Out</h3>
    {% when 'coming-soon' %}
      <h3 class="status">Coming soon</h3>
    {% when 'active' %}
      {% if product.on_sale %}
        <h3 class="status">On Sale</h3>
      {% endif %}
  {% endcase %}

  {% if product.description != blank %}
    <div class="product_description">
      {{ product.description | paragraphs }}
    </div>
  {% endif %}

  <h4>
    {% if product.variable_pricing %}
      {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
    {% else %}
      {{ product.default_price | money: theme.money_format }}
    {% endif %}
  </h4>

  {% if product.status == 'active' %}
    <form method="post" class="product_form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %}" action="/cart" accept-charset="utf8">
      <input type="hidden" name="utf8" value='✓'>
      {% if product.has_default_option %}
        {{ product.option | hidden_option_input }}
      {% else %}
        {% if product.has_option_groups %}
          <div class="product_option_groups">
            <input id="option" name="cart[add][id]" type="hidden" value="0">
            {% for option_group in product.option_groups %}
              <div class="select wrapper-dropdown">
                <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                  <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                  {% for value in option_group.values %}
                    <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                  {% endfor %}
                </select>
                <svg version="1.1" class="downarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 7.6" enable-background="new 0 0 11 7.6" xml:space="preserve"><g><polygon points="11,1.8 9.3,0 5.5,4.1 1.7,0 0,1.8 5.5,7.6   "/></g></svg>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="select wrapper-dropdown">
            <select class="product_option_select" id="option" name="cart[add][id]" aria-label="Select option">
              <option value="0" disabled="disabled" selected>Select option</option>
              {% for option in product.options %}
                <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
              {% endfor %}
            </select>
            <svg version="1.1" class="downarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 7.6" enable-background="new 0 0 11 7.6" xml:space="preserve"><g><polygon points="11,1.8 9.3,0 5.5,4.1 1.7,0 0,1.8 5.5,7.6   "/></g></svg>
          </div>
        {% endif %}
      {% endif %}
      <input autocomplete="off" type="text" value="1" id="quantity">
      <button data-selected-price="" class="button add-to-cart-button" name="submit" type="submit" title="Add to Cart" data-added-text="Added!" data-add-title="Add to Cart" data-sold-title="Sold out">
        <span class="add_text">Add to Cart</span>
        <span class="price_info">{{ product.default_price | money: theme.money_format }}</span>
      </button>
    </form>
  {% endif %}
  {% if theme.share_buttons %}
    <ul class="sharing">
      <li><a target="_blank" href="https://twitter.com/intent/tweet?text={{ product.name | escape }}%20-%20{{ store.name | escape }}%20{{ store.url }}{{ product.url }}">Tweet</a></li>
      <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{store.url}}{{product.url}}">Share</a></li>
      <li><a target="_blank" data-pin-custom="true" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url={{ page.full_url }}&media={{ product.images.first.url }}&description={{ product.description | escape }}">Pin</a></li>
    </ul>
  {% endif %}
</div>
<div class="product_photos">
  <ul>
    {% for image in product.images %}
    <li><a class="image-link" href="{{ image | product_image_url | constrain: 1500 }}" title="{{ product.name | escape }}"><img src="{{ image | product_image_url | constrain: 1120 }}" alt="Image of {{ product.name | escape }}"></a></li>
    {% endfor %}
  </ul>
</div>