<h2 class="category_name">{% if page.permalink contains '/products' %}All Products{% else %}{{ page.name }}{% endif %}</h2>
{% paginate products from products.current by theme.products_per_page %}
  {% if products != blank %}
    <ul class="product_list">
      {% for product in products %}
        <li class="{{ product.css_class }} item">
          <a href="{{ product.url }}" title="{{ product.name | escape }}">
            <figure data-hover="product">
              <img alt="Image of {{ product.name | escape }}" src="{{ product.image | product_image_url | constrain: '680' }}">
              <figcaption>
                <h3>{{ product.name | truncate: 40 }}</h3>
                <small>{{ product.default_price | money_with_sign }}</small>
                {% case product.status %}
                  {% when 'sold-out' %}
                    <small><i>Sold Out</i></small>
                  {% when 'coming-soon' %}
                    <small><i>Coming Soon</i></small>
                  {% when 'active' %}
                    {% if product.on_sale %}
                      <small><i>On Sale</i></small>
                    {% endif %}
                {% endcase %}
              </figcaption>
              <svg class="arrow" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 18" enable-background="new 0 0 20 18" xml:space="preserve"><polygon points="10.8,0 9.3,1.5 15.9,8 0,8 0,10.1 15.9,10.1 9.3,16.5 10.8,18 20,9 "/></svg>
            </figure>
          </a>
        </li>
      {% endfor %}
    </ul>
    {{ paginate | default_pagination, 'pagination', 'pagination', '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11" enable-background="new 0 0 12 11" xml:space="preserve"><polygon points="5.5,11 7.2,9.3 4.6,6.7 12,6.7 12,4.3 4.6,4.3 7.2,1.7 5.5,0 0,5.5 "/></svg>', '<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11" enable-background="new 0 0 12 11" xml:space="preserve"><polygon points="6.4,0 4.8,1.7 7.4,4.3 0,4.3 0,6.7 7.4,6.7 4.8,9.3 6.4,11 12,5.5 "/></svg>' }}
    
  {% else %}
    <div class="products"><p>No products found.</p></div>
  {% endif %}
{% endpaginate %}