<div class="container clearfix single-product">
    <div class="grid_6 description">
      <div class="fixed sticky">
        <div id="back-to-all">
          <a href="/products" title="all products"><svg class="prev" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 11" enable-background="new 0 0 12 11" xml:space="preserve"><polygon points="5.5,11 7.2,9.3 4.6,6.7 12,6.7 12,4.3 4.6,4.3 7.2,1.7 5.5,0 0,5.5 "/></svg> all products</a>
        </div>
        <h1>{{ product.name }}</h1>
        {% if product.description != blank %}
        <p>{{ product.description | paragraphs }}</p>
        {% endif %}

        {% case product.status %}

          {% when 'sold-out' %}
            <h4>{{ product.default_price | money_with_sign }}</h4>
            <em>Sold Out! Sorry all gone.</em>

          {% when 'coming-soon' %}
            <h4>{{ product.default_price | money_with_sign }}</h4>
            <em>Coming soon. Hang in there.</em>

          {% when 'active' %}
            <h4>{% if product.on_sale %}</h4>
            <em>Hey look it's On Sale!{% endif %}</em>
        {% endcase %}

        {% if product.status == 'active' %}
        <form method="post" action="/cart" id="product_form">

            {% if product.has_default_option %}
              {{ product.option | hidden_option_input }}
            {% else %}

              <div class="wrapper-dropdown">
                <span>Choose an option</span>
                <svg version="1.1" id="downarrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 7.6" enable-background="new 0 0 11 7.6" xml:space="preserve"><g><polygon points="11,1.8 9.3,0 5.5,4.1 1.7,0 0,1.8 5.5,7.6   "/></g></svg>
                <ul class="dropdown">
                  {% for option in product.options_in_stock %}
                    <li data-item-id="{{ option.id }}"{% if option.has_custom_price %} data-item-price="{{ option.price }}"{% endif %}>{{ option.name }}{% if option.has_custom_price %} ({{ option.price | money_with_sign }}){% endif %}</li>
                  {% endfor %}
                </ul>
              </div>

              {{ product.options_in_stock | options_select }}
            {% endif %}

          <input type="text" value="1" id="quantity" data-default-price="{{ product.default_price }}">

          <div class="add-to-cart">
            <button class="button" name="submit" type="submit" title="Add to Cart">Add to Cart</button>
            <small>{{ product.default_price | money_with_sign }}</small>
          </div>
        </form>
        {% endif %}
        {% if theme.share_buttons %}
        <div class="sharing">
          <ul>
            <li><a target="_blank" href="http://twitter.com/share?url={{ store.url }}{{ product.url }}&text=Check out {{store.name}}'s">Tweet</a></li>
            <li> | </li>
            <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{store.url}}{{product.url}}">Share</a></li>
            <li> | </li>
            <li><a target="_blank" href="http://pinterest.com/pin/create/button/?url={{store.url}}{{product.url}}&media={{ product.images.first.url }}">Pin</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="grid_6 product-shots">
      {% if product.images.size > 0 %}
      <ul class="unstyled">
        {% for image in product.images %}
        <li{% if forloop.first %} class="selected"{% endif %}><a class="image-link" href="{{ image | product_image_url }}" title="{{ product.name | escape }}"><img src="{{ image | product_image_url }}" alt="Image of {{ product.name | escape }}"></a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
